/*底部tab栏*/

body {
    padding: 60px 0;
}

header {
    height: 50px;
    width: 100%;
    padding-top: 10px;
    background: rgba(34, 34, 34, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: 0px 2px 6px fuchsia;
}

header a.title {
    padding-top: 5px;
    font-size: 16px;
    color: #bbb;
}

header .search .my-input {
    height: 30px;
    width: 90%;
    border: 1px solid silver;
    border-radius: 4px;
    padding-left: 10px;
}

header .search button {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 80px;
    font-size: 16px;
}


/*视图模块*/


/*首页图片设置*/

.list img.home_img {
    width: 100%;
    height: 100%;
}


/*其他页面视图模块*/

div[ng-view] .list>ul {
    overflow: hidden;
    /* 清除浮动影响*/
}

div[ng-view] .list>ul li {
    margin-top: 10px;
    text-align: center;
}

div[ng-view] h2 {
    margin: 10px 0;
    font-size: 18px;
}

.list ul li a {
    display: block;
    width: 100%;
}

.list ul li img {
    /*width: 320px;*/
    height: 420px;
    box-shadow: 6px 6px 3px silver;
}

.list ul li img:hover {
    transition: all .5s;
    transform: translateY(-6px)
}


/*页面模块*/

.paging {
    border-top: 1px solid silver;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.paging button.disabled {
    background: silver;
    cursor: unset;
}

.paging .hr {
    display: none;
}

.paging button {
    background: #6057ec;
    border-radius: 6px;
    color: white;
}

.ng-cloak {
    display: none;
}


/*设置小屏幕电影list居中*/


/*媒体查询*/

@media screen and (max-width: 768px) {
    .list img.home_img {
        width: 130%;
        margin-left: -15%;
    }
    .list ul li {
        text-align: center;
    }
    .list ul li img {
        width: 300px;
        height: 400px;
    }
    .paging .hr {
        display: block;
    }
}

div[ng-view] .otherinfo span {
    margin-right: 4px;
    background: silver;
}


/*底部tab栏  */

nav {
    width: 100%;
}

nav.tab li {
    border-right: 1px solid #f2f0f9;
    padding: 0;
}

nav.tab li:last-child {
    border-right: none;
}

nav.tab {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}

nav.tab li {
    background: #222;
}

nav.tab li.active {
    background: #f5fbde;
}

nav.tab li a {
    display: inline-block;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
}


/*底部copyright*/

.copyright {
    text-align: center;
    font-size: 12px;
}


/*loading动画*/

.load2 {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 50px;
    background: rgba(135, 206, 235, .8);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.load2 .loader,
.load2 .loader:before,
.load2 .loader:after {
    border-radius: 50%;
}

.load2 .loader:before,
.load2 .loader:after {
    position: absolute;
    content: '';
}

.load2 .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #0dcecb;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.load2 .loader {
    font-size: 11px;
    text-indent: -99999em;
    margin: 30% auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em #FFF;
}

.load2 .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #0dcecb;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*详情页样式*/

.detail {
    text-align: center;
}

.detail .dti-w {
    margin-top: 10px;
    padding-left: 10%;
    text-align: left;
}

.detail>p {
    padding: 10px;
    text-align: left;
    color: slateblue !important;
}


/*详情页样式*/