<div class="list" style="margin-bottom:50px;">
    <!--底部高度有50px，否则会被底部tab顶掉-->
    <h2 style="color:skyblue;text-align:center">{{data.title}}</h2>
    <ul>
        <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="item in data.subjects">
            <a class="" href="#/details">
                <img ng-src="{{item.images.large}}" alt="">
            </a>
            <div class="meta">
                <h4><span>{{item.title}}</span> <em>{{item.rating.average}}分</em></h4>
                <div class="otherinfo">类型:<span ng-repeat="genre in item.genres">{{genre}}</span></div>
            </div>
        </li>
    </ul>
    <div ng-cloak class="paging">
        <label>总共：{{data.total}}条记录,第{{nowPage}}/{{totalPage}}页;</label>
        <!-- 加上disable类样式，表示按钮禁用状态 -->
        <button ng-class="{'disabled':nowPage<=1}" class="prev disable " ng-click="goPage(nowPage-1)">上一页</button>
        <button ng-class="{'disabled':nowPage>=totalPage}" class="next" ng-click="goPage(nowPage+1)">下一页</button>
    </div>
</div>